<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home" target="mainFrame">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/maps" target="mainFrame">Mappa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Taaac</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">lllllll</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">aaaaaaaddddd</a>
            </li>
        </ul>
    </div>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Cerca" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerca</button>
  </form>
</nav>