<!DOCTYPE html>
<head>
    {{>bootstrap}}
    <title>Titolo pagina</title>
</head>
<body>
    <h1>Titolo di testa</h1>
    <h5>Descrizione</h5>
    {{>menu}}
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" id="mainFrame" name="mainFrame"></iframe>
    </div>
</body>